body {
    background-color: rgb(32, 206, 206);

}



.titulo {
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}


.temp-semana{
    display: flex;
    justify-content: center;
    align-items: center;
}


